In [5]:
import pandas as pd

tablice= pd.read_csv('lists.csv', index_col='rank', encoding = "utf-8")

pd.options.display.max_rows = 20

najprej poglejmo, kako sploh izgledajo tablice

In [7]:
tablice

,date,time,name,position,DOB,venue,nationality
rank,,,,,,,
1,31 AUG 2001,14:29.32,Olga YEGOROVA,1,28 MAR 1972,Berlin (GER),RUS
2,31 AUG 2001,14:31.69,Gete WAMI,2,11 DEC 1974,Berlin (GER),ETH
3,31 AUG 2001,14:32.44,Paula RADCLIFFE,3,17 DEC 1973,Berlin (GER),GBR
4,31 AUG 2001,14:39.22,Tatyana TOMASHOVA,4,01 JUL 1975,Berlin (GER),RUS
5,24 JUN 2001,14:40.47,Yelena ZADOROZHNAYA,1,03 DEC 1977,Bremen (GER),RUS
6,17 JUL 2001,14:45.86,Edith MASAI,1,04 APR 1967,Stockholm (SWE),KEN
7,13 JUL 2001,14:46.92,Gabriela SZABO,2,14 NOV 1975,Oslo (NOR),ROU
8,13 JUL 2001,14:48.97,Rose CHERUIYOT,3,21 JUL 1976,Oslo (NOR),KEN
9,13 JUL 2001,14:49.32,Asmae LEGHZAOUI,4,30 AUG 1976,Oslo (NOR),MAR
10,23 NOV 2001,14:51.58,Yanmei DONG,1,16 FEB 1977,Guangzhou (CHN),CHN
...,...,...,...,...,...,...,...
891,14 APR 2017,16:36.08,Anna BRASWELL,9f2,NaN,Torrance (USA),USA
892,03 APR 2017,16:36.12,Zongtao LIU,5,23 AUG 1992,Huaian (CHN),CHN
893,27 AUG 2017,16:36.30,Sara CHRISTIANSSON,3,21 JUL 1997,Helsingborg (SWE),SWE
894,24 MAR 2017,16:36.33,Kelsie SCHWARTZ,16f5,07 APR 1996,Raleigh (USA),USA
895,11 APR 2017,16:36.36,Jila DAWA,7,02 JAN 1998,Zhengzhou (CHN),CHN
895,14 APR 2017,16:36.36,Anne-Marie GAUTHIER,10f2,1994,Torrance (USA),CAN
897,14 APR 2017,16:36.40,Vallery KORIR,11f2,NaN,Torrance (USA),KEN
898,23 NOV 2017,16:36.41,Carolina TABARES,6,18 JUN 1986,Santa Marta (COL),COL
899,14 MAY 2017,16:36.46,Lilla B&#214;HM,2,28 SEP 1994,Miskolc (HUN),HUN
899,22 OCT 2017,16:36.46,Eun-Ha LIM,2,NaN,Cheongju (KOR),KOR

In [9]:
tablice.loc[100]

,date,time,name,position,DOB,venue,nationality
rank,,,,,,,
100,08 JUL 2001,15:34.64,Yumiko OKAMOTO,2,28 MAR 1978,Sapporo (JPN),JPN
100,15 DEC 2002,15:37.4h,Risa HAGIWARA,1,22 NOV 1982,Yokohama (JPN),JPN
100,27 SEP 2003,15:34.40,Miwako YAMANAKA,5,24 MAY 1978,Okayama (JPN),JPN
100,06 JUN 2004,15:27.43,Megumi TANAKA-OSHIMA,7,04 SEP 1975,Tottori (JPN),JPN
100,04 JUN 2005,15:29.96,Yoshiko FUJINAGA,6,15 AUG 1981,Tokyo (JPN),JPN
100,15 AUG 2006,15:32.34,Florence KIPLAGAT,2,27 FEB 1987,Beijing (CHN),KEN
100,29 APR 2007,15:34.35,Hitomi NIIYA,6,26 FEB 1988,Hiroshima (JPN),JPN
100,28 JUN 2008,15:34.07,Elena ROMAGNOLO,2,05 OCT 1982,Firenze (ITA),ITA
100,26 JUN 2009,15:38.61,Nicole BLOOD,7,25 APR 1988,Eugene (USA),USA
100,01 MAY 2010,15:39.07,Elizabeth MALOY,7f1,10 AUG 1985,Palo Alto (USA),USA
100,01 MAY 2011,15:38.15,Mika YOSHIKAWA,6f1,16 SEP 1984,Palo Alto (USA),JPN
100,01 DEC 2012,15:33.72,Yuka ANDO,3f3,16 MAR 1994,Yokohama (JPN),JPN
100,21 SEP 2013,15:36.28,Risa KIKUCHI,4,05 FEB 1990,Kumagaya (JPN),JPN
100,15 JUL 2014,15:33.64,Gabriele GRUNEWALD,5,25 JUL 1986,Luzern (SUI),USA
100,03 APR 2015,15:33.15,Rachel CLIFF,8f1,01 APR 1988,Palo Alto (USA),CAN
100,25 SEP 2016,15:27.80,Riko MATSUZAKI,6f2,24 DEC 1992,Osaka (JPN),JPN
100,06 MAY 2017,15:30.28,Mariam WAITHIRA,6f1,23 DEC 1996,Nobeoka (JPN),KEN

In [11]:
tablice.sort_values('time').head(50)

,date,time,name,position,DOB,venue,nationality
rank,,,,,,,
1,06 JUN 2008,14:11.15,Tirunesh DIBABA,1,01 JUN 1985,Oslo (NOR),ETH
1,02 JUN 2016,14:12.59,Almaz AYANA,1,21 NOV 1991,Roma (ITA),ETH
2,22 JUL 2008,14:12.88,Meseret DEFAR,1,19 NOV 1983,Stockholm (SWE),ETH
1,17 MAY 2015,14:14.32,Almaz AYANA,1,21 NOV 1991,Shanghai (CHN),ETH
2,04 JUL 2015,14:15.41,Genzebe DIBABA,1,08 FEB 1991,Paris (FRA),ETH
1,15 JUN 2007,14:16.63,Meseret DEFAR,1,19 NOV 1983,Oslo (NOR),ETH
1,08 JUN 2017,14:18.37,Hellen OBIRI,1,13 DEC 1989,Roma (ITA),KEN
1,29 JUL 2011,14:20.87,Vivian Jepkemoi CHERUIYOT,1,11 SEP 1983,Stockholm (SWE),KEN
2,15 JUN 2007,14:22.51,Vivian Jepkemoi CHERUIYOT,2,11 SEP 1983,Oslo (NOR),KEN
1,06 JUL 2013,14:23.68,Tirunesh DIBABA,1,01 JUN 1985,Paris (FRA),ETH
...,...,...,...,...,...,...,...
2,31 AUG 2001,14:31.69,Gete WAMI,2,11 DEC 1974,Berlin (GER),ETH
4,13 MAY 2017,14:31.76,Senbere TEFERI,2,03 MAY 1995,Shanghai (CHN),ETH
5,23 MAY 2010,14:31.91,Sylvia Jebiwot KIBET,4,28 MAR 1984,Shanghai (CHN),KEN
5,23 MAY 2010,14:31.91,Meselech MELKAMU,3,19 APR 1985,Shanghai (CHN),ETH
3,30 MAY 2015,14:31.95,Faith KIPYEGON,2,10 JAN 1994,Eugene (USA),KEN
3,11 JUN 2005,14:32.42,Tirunesh DIBABA,1,01 JUN 1985,New York (USA),ETH
3,31 AUG 2001,14:32.44,Paula RADCLIFFE,3,17 DEC 1973,Berlin (GER),GBR
4,11 JUN 2004,14:32.74,Ejegayehu DIBABA,3,21 MAR 1982,Bergen (NOR),ETH
5,01 SEP 2017,14:32.82,Margaret Chelimo KIPKEMBOI,4,09 FEB 1993,Bruxelles (BEL),KEN
5,15 MAY 2011,14:32.95,Linet Chepkwemoi MASAI,3,05 DEC 1989,Shanghai (CHN),KEN